.gallery {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: var(--gap-xs);
}

.gallery__image {
  display: block;
  width: 100%;
  aspect-ratio: 1;
  object-fit: cover;
  cursor: pointer;
  transition: transform ease-in-out 0.2s;
}

.gallery__image:hover {
  transform: scale(1.01);
}