@import url(./vendor/normalize.css);
@import url(./vendor/fonts/styrene/index.css);
@import '@alfalab/core-components/vars/gaps.css';
@import '@alfalab/core-components/vars/colors-indigo.css';

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  font-family: 'Styrene UI', sans-serif;
  padding-inline: var(--gap-s);
}

@media (min-width: 768px) {
  body {
    padding-inline: var(--gap-2xl);
  }
}

@media (min-width: 1280px) {
  body {
    padding-inline: var(--gap-5xl);
  }
}

a,
a:hover,
a:visited {
  text-decoration: none;
  color: inherit;
}

.centered {
  display: flex;
  justify-content: center;
  align-items: center;
}
